
.toolbar{
  color: blue;
}
@media screen and (min-width:1366px) and (max-height:1080px){
  .toolbar{
    color: green;
    font-size: 25px;
  }
}

@media screen and (max-width:320px) and (max-height:568px){
  .toolbar{
    color: red;
    font-size: 11px;
  }
}